.container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 10px 200px;
}
.mainBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;

  .btnBlock {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px;
  }
  .message {
    margin: 20px auto;
  }
  .emptyStyle {
    margin: 0 auto;
  }
}
