.button {
  width: 200px;
  height: 50px;
  border: 1px solid grey;
  background-color: transparent;
  color: black;


  &:hover {
    color: whitesmoke;
    background-color: slategrey;
    border-color: whitesmoke;
    transition: 0.3s;
  }
}