.block {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;

  .nameProduct {
    width: 200px;
  }
  .priceProduct {
    width: 150px;
  }

  .pic {
    width: 80px;
    height: 80px;
  }
}
