.container {
  display: flex;
  flex-direction: row;
  flex: 1;

  .search_block {
    display: flex;
    flex-direction: row;
  }

  .product_block {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px 2px;
    overflow-y: auto;

    .productCard {
      padding: 20px;
    }
  }
  .message{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-top: 30px
  }
}
