
  .section{
    width: 200px;
    height: 100%;
    background-color: grey;
  }
  .product_block{
    width: 80%;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px 2px;
    margin: 150px 200px;


    .productCard{
      margin: 0 auto;
    }
    .title_product{
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      padding: 15px 0;

    }
  }