.icon {
  height: 40px;
  float: right;
  margin-right: 15px;
  border: 1px solid black;

  &:hover {
    background-color: whitesmoke;
    cursor: pointer;
    transition: 0.3s;
  }

  &.iconProblem {
    height: 30px;
    float: none;
    text-align: center;
    border: none;
  }

  &.iconCart {
    height: 20px;
    text-align: center;
    border: 1px solid gray;
    margin: 5px;

    &:hover {
      border: 2px solid black;
      transition: 0.1s;
    }
  }
}
