.blockWithError {
  color: red;
  height: 16px;
  font-size: 12px;
  text-align: center;
}
.search_block {
  display: flex;
  flex-direction: row;
  font-size: 16px;

  .input {
    width: 100%;
    text-indent: 50px;
    border: 2px solid darkgrey;
    background-image: url('../../../../components/Icon/search.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
}
