.header {
  display: flex;
  height: 90px;
  padding: 5px;
  background-color: lightsteelblue;
  border-bottom: 1px solid grey;

  .marketLink {
    flex: 1;
  }

  .reg_section {
    .link {
      color: darkblue;
      margin: 15px;

      &:hover {
        border-bottom: 2px solid darkslateblue;
      }
    }
  }
  .headerBlock {
    display: flex;
    flex-direction: column;
  }
}
